<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CartiB - Compare Prices</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to <span class="brand">CartiB</span></h1>
        <p>Your ultimate app to compare prices across multiple platforms.</p>
        <button onclick="window.location.href='/location'">Start</button>
    </div>
</body>

</html>