<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CartiB - Compare Prices</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="landing-page">
        <div id="main">
            
            <h1 class="title">CartiB</h1>
            <p class="tagline">Your ultimate app to compare prices across multiple platforms.</p>
           
    
        </div>
        <div id="main2">
            <button class="primary-btn" onclick="redirectToPage('location')">Get Started</button>
        </div>
      </div>
    <script src="/static/js/script.js"></script>

</body>

</html>