<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CartiB - Compare Prices</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div id="main0">
        <div id="main1">
            
            <h1>CartiB</h1>
            <h6>Your ultimate app to compare prices across multiple platforms.</h6>
        </div>
        <div id="main2">
    
            <button onclick="window.location.href='/location'">Start</button>
        </div>


    </div>
    
</body>

</html>