<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Options - CartiB</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header class="header">
    <img src="logo.png" alt="CartiB Logo" class="logo">
  </header>
  <div class="container">
    <h2>Select Your Options</h2>

    <div class="dropdown-container">
      <label onclick="toggleDropdown('location-dropdown', 'location-options')" for="city">Select City</label>
      <select id="city">
        <option value="" disabled selected>Click to Select</option>
        <option value="Bhopal">Bhopal, Madhya Pradesh (IND)</option>
      </select>

      <label  onclick="toggleDropdown('stores-dropdown', 'store-options')" for="stores">Select Stores</label>
      <select id="stores" multiple onchange="updateSelectedStores()">
        <option value="store1">Blinkit</option>
        <option value="store2">Swiggy Instamart</option>
      </select>
      

      <form action="/location" method="post">
        
        <label for="location-select">Select Location</label>
        <select id="location-select" name="location">
            <option value="" disabled selected>Select Location</option>
            <option value="Arera Colony">Arera Colony</option>
            <option value="Indrapuri">Indrapuri</option>
            <option value="MP Nagar">MP Nagar</option>
        </select>
    
        <!-- Hidden inputs to populate the data -->
        <input type="hidden" id="location-input" name="location">
        <input type="hidden" id="stores-input" name="stores">
    
        <!-- Submit button -->
        <button type="submit">Next</button>
    </form>
    

    <button class="primary-btn" onclick="redirectToPage('home')">Start Shopping</button>
  </div>
  <script src="/static/js/script.js"></script>
</body>
</html>
