<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Location and Stores</title>
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>
    <div class="containerlocation">
        <header> 
            <div>
                <h1>CartiB</h1>
            </div>
        </header>
        <h1 id="heading">Select Your Location and Stores</h1>

        <!-- Location Dropdown -->
        <div class="dropdown-container">
            <div id="choosing-location">
                <label onclick="toggleDropdown('location-dropdown', 'location-options')">Choose your location:</label>
                <div id="location-options" style="display: none;">
                    <label><input type="radio" name="location" value="Bhopal, India" required> Bhopal, India</label>
                </div>
            </div>
        </div>

        <!-- Stores Dropdown -->
        <div class="dropdown-container">
            <div id="choosing-stores">

                <label onclick="toggleDropdown('stores-dropdown', 'store-options')">Choose stores:</label>
                <div id="store-options" style="display: none;">
                    <label><input type="checkbox" name="stores" value="Blinkit" onclick="updateSelectedStores()">
                        Blinkit</label>
                    <label><input type="checkbox" name="stores" value="Swiggy Instamart" onclick="updateSelectedStores()">
                        Swiggy Instamart</label>
                    <label><input type="checkbox" name="stores" value="Ondoor" onclick="updateSelectedStores()">
                        Ondoor</label>
                    <label><input type="checkbox" name="stores" value="Bigbasket" onclick="updateSelectedStores()">
                        Bigbasket</label>
                </div>
            </div>

            <div id="selectedstoresdiv">
    
                <p>Selected Stores: <span id="selected-stores">None selected</span></p>
            </div>
            <!-- Form to send data -->
            <form action="/location" method="post">
                <input type="hidden" id="location-input" name="location">
                <input type="hidden" id="stores-input" name="stores">
    
                <button id="startshoppingbutton" type="submit">Start Shopping</button>
            </form>
        </div>



    </div>

    <script src="/static/js/script.js">
        
    </script>
</body>
</html>
